<h3>Reset your password!</h3>
<p>
  Hi {{ username }}! You receive this email because you sent a request to reset your password.
</p>

<p>
  To reset your password, open our application, click on the button "forgot password",
</p>

<p>
  enter your username and below token then you can choose a new password.
</p>

<p>
  Token: {{token}}
</p>
<p>
  Thanks!
</p>
<p>
  TEAM MEETNLUNCH
</p>
<p>
  Email: support.meetnlunch@gmail.com
</p>
